<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. כל הזכויות שמורות.</small></p>
  <p><small>תבנית <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium</a> מופעלת ע"י <a href="http://ghost.org" target="_blank">Ghost</a>.</small></p>
</footer>
