//----------------------------------*\
// FONTS
//----------------------------------*/

/* 
 * Noto Sans Hebrew (Hebrew) http://www.google.com/fonts/earlyaccess
 */

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/notosanshebrew/v2/NotoSansHebrew-Bold.ttf) format('truetype');
}

/* 
 * Open Sans Hebrew (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-LightItalic.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-LightItalic.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-LightItalic.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-LightItalic.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Light.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Light.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Light.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Light.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Italic.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Italic.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Italic.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Italic.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-BoldItalic.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-BoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-BoldItalic.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-BoldItalic.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBoldItalic.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBoldItalic.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBoldItalic.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/opensanshebrew/v2/OpenSansHebrew-ExtraBold.ttf) format('truetype');
}