blockquote {
  font-style: italic;
  border-left: 5px solid $primary-color;
  padding-left: 20px;
  padding-bottom: 3px;
  margin: 0 -25px 30px 0;

  p {
    margin: 0;
  }

  &.pullquote {
    padding: 0;
    line-height: 1.4;
    text-align: center;
    font-size: 28px;
    margin: 48px -90px;
    border-right: none;

    @include breakpoint(small) {
      margin: 30px 0;
      font-size: 22px;
    }
  }

  @include breakpoint(small) {
    border-right: none;
    margin: 30px 0;
    font-size: 22px;
  }
}
