<aside role="banner" class="cover">
  <div {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
      <a href="{{@blog.url}}" class="cover-logo" data-pjax>
        <img src="{{@blog.logo}}" alt="בלוג לוגו">
      </a>
    {{/if}}
    <h1 class="cover-title">{{@blog.title}}</h1>
    <p class="cover-description">{{@blog.description}}</p>
  </div>
</aside>