<nav role="pagination" class="post-list-pagination">
  {{#if prev}}
    <a href="{{pageUrl prev}}" class="post-list-pagination-item post-list-pagination-item-prev" data-pjax>
      <i class="fa fa-angle-double-left"></i>&nbsp;לכאן
    </a>
  {{/if}}
  <span class="post-list-pagination-item post-list-pagination-item-current">עמוד {{page}} מתוך {{pages}}</span>
  {{#if next}}
    <a href="{{pageUrl next}}" class="post-list-pagination-item post-list-pagination-item-next" data-pjax>
      לשם&nbsp;<i class="fa fa-angle-double-right"></i>
    </a>
  {{/if}}
</nav>
