/**
 * Hebrew: Done  !!!
 */
.cover {
  position: relative;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 100;

  @include breakpoint(medium) {
    width: 100%;
    height: 30%;
    min-height: 300px;
  }
}

.cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
  background-color: $drawer-background-color;
}

.cover-container {
  position: absolute;
  bottom: 0;
  padding: 50px 10% 10%;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  @include breakpoint(medium) {
    text-align: center;
    padding: 0 15px;
  }
}

.cover-logo {
  img {
    border: 3px solid #fff;
    border-radius: 50%;
    border-radius: 50%;
    max-height: 100px;
    transition: opacity .3s ease-in-out;
    box-shadow:
      0 0 3px 3px rgba(0, 0, 0, 0.3),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
  }

  &:hover,
  &:focus {
    img {
      opacity: .85;
    }
  }
}

.cover-title {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 12px;
}

.cover-description {
  font-size: 16px;
  line-height: 1.2;
}
