/**
 * Hebrew: Done  !!!
 */
.post {
  @include breakpoint(small) {
    padding-top: 30px;
  }
}

.post-container {
  position: relative;
}

.post-header {}

.post-meta-list {
  @extend .post-item-meta-list;
  line-height: 1;
  margin-bottom: 15px;
  font-family: $title-font-family;
}

.post-meta-item {
  @extend .post-item-meta-item;
  font-size: 13.5px;
}

.post-title {
  line-height: 1;
  padding-bottom: 15px;

  a {
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

.post-subtitle {
  font-style: italic;
  font-family: $text-font-family;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 15px;
}

.post-author {
  .post-footer & {
    padding-left: 20px;
  }
}

.post-author-avatar {
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 10px;

  img {
    border-radius: 100%;
    width: 100%;
  }

  .post-side & {
    float: left;
  }

  .post-footer & {
    float: right;
    margin-bottom: 0;
    margin-left: 10px;

    @include breakpoint(x-small) {
      display: none;
    }
  }
}

.post-author-info {
  .post-side & {
    clear: left;
  }

  .post-footer & {
    overflow: hidden;
  }

  p {
    font-size: 12px;
    font-style: italic;
    color: $muted-text-color;
    margin-bottom: 0;

    a {
      color: $muted-text-color;
    }
  }
}

.post-author-name {
  display: block;
  line-height: 1;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: $title-font-family;
  font-size: 15px;
  font-weight: 700;
}

.post-info {
  margin-top: 10px;
}

.post-info-title {
  @extend .post-author-name;
  letter-spacing: -.5px;
  font-style: normal;
  color: $text-color;
  font-size: 13px;
  margin-bottom: 0;
}


.post-side {
  position: absolute;
  top: 0;
  right: -230px;
  width: 160px;
  padding: 0 5px;
  text-align: left;
  z-index: 300;

  @include breakpoint(large) {
    display: none;
  }
}

.post-body {
  h1, .h1,
  h2, .h2 {
    padding-top: 30px;
    margin-bottom: 4px;

    & ~ hr {
      margin-bottom: 0;
    }
  }
}

.post-footer {
  overflow: hidden;
  border-top: 2px solid $line-breaks-color;
  padding: 40px 0;
}

.post-footer-heading {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  color: $muted-text-color;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.post-social {
  text-align: center;
}

.post-comments {
  border-top: 2px solid $line-breaks-color;
  padding: 40px 0;
}
